.banner {
    background: url("https://wallbox.ru/resize/1440x900/wallpapers/main2/201727/material123456.png") center center;
    height: 300px;
    position: relative;
    margin-bottom: 10px;
}

.banner__info {
    color: white;
    padding-top: 15vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 60%;
}

.banner__info > h4 {
    margin-top: 10px;
}

